<div class="container-fluid">
    <div class="col-md-12">
        <h2>Add New Article</h2>
        <form class="newArticleForm">
            <div class="form-group col-6">
                <label for="new-Article-Title">Title</label>
                <input type="text" class="form-control" id="new-Article-Title" placeholder="Enter Article Title Here">
            </div>
            <div class="form-group">
                <label for="new-Article-Content">Content</label>
                <textarea type="text" class="form-control" id="new-Article-Content" placeholder="Enter Content Here" rows="10"></textarea>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary submit" id="btn-save" type="submit">Submit Article</button>
                <button class="btn btn-warning submit" id="btn-cancel" type="reset">Cancel</button>
            </div>
        </form>
    </div>
</div>


<script src="/js/newArticle.js"></script>