<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Update Comment</h2>
            <small id="updateCommentHelp" class="form-text text-muted">NOTE: The comment cannot be blank.</small>
            <form class="updateCommentForm">
                <div class="form-group">
                    <textarea type="text" class="form-control" id="commentContent" rows="3" required="true" value="{{comment.content}}">{{comment.content}}</textarea>
                </div>
                <button class="btn btn-primary" id="btn-save" data-id="{{comment.id}}" type="submit">Save</button>
                <button class="btn btn-warning" id="btn-cancel" type="reset">Cancel</button>
            </form>
        </div>
    </div>
</div>


<script src="/js/updateComment.js"></script>